apiVersion: apps/v1
kind: Deployment
metadata:
  name: confirmation
  annotations:
    kapp.k14s.io/update-strategy: fallback-on-replace
    ootb.apps.tanzu.vmware.com/servicebinding-workload: "true"
  labels:
    app.kubernetes.io/part-of: payment-demo
    apps.tanzu.vmware.com/has-tests: "true"
    apps.tanzu.vmware.com/pipeline: test
    apps.tanzu.vmware.com/workload-type: worker
    kapp.k14s.io/app: "1675726456173415138"
    kapp.k14s.io/association: v1.52c33a047d9bd597743fbe75302d855f
    app.kubernetes.io/component: run
    carto.run/workload-name: confirmation
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: run
      app.kubernetes.io/part-of: payment-demo
      apps.tanzu.vmware.com/has-tests: "true"
      apps.tanzu.vmware.com/pipeline: test
      apps.tanzu.vmware.com/workload-type: worker
      carto.run/workload-name: confirmation
      conventions.carto.run/framework: spring-boot
      kapp.k14s.io/app: "1675726456173415138"
      kapp.k14s.io/association: v1.52c33a047d9bd597743fbe75302d855f
      services.conventions.carto.run/rabbitmq: workload
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/max-scale: "10"
        autoscaling.knative.dev/min-scale: "2"
        autoscaling.knative.dev/target: "10"
        boot.spring.io/version: 3.0.0-RC1
        conventions.carto.run/applied-conventions: |-
          spring-boot-convention/auto-configure-actuators-check
          spring-boot-convention/spring-boot
          spring-boot-convention/spring-boot-web
          spring-boot-convention/app-live-view-appflavour-check
          spring-boot-convention/service-intent-rabbitmq
          appliveview-sample/app-live-view-appflavour-check
        developer.conventions/target-containers: workload
        kapp.k14s.io/identity: v1;team-tanzu/carto.run/Workload/confirmation;carto.run/v1alpha1
        kapp.k14s.io/original: '{"apiVersion":"carto.run/v1alpha1","kind":"Workload","metadata":{"labels":{"app.kubernetes.io/part-of":"payment-demo","apps.tanzu.vmware.com/has-tests":"true","apps.tanzu.vmware.com/pipeline":"test","apps.tanzu.vmware.com/workload-type":"worker","kapp.k14s.io/app":"1675726456173415138","kapp.k14s.io/association":"v1.52c33a047d9bd597743fbe75302d855f"},"name":"confirmation","namespace":"team-tanzu"},"spec":{"build":{"env":[{"name":"BP_JVM_VERSION","value":"17"},{"name":"BP_MAVEN_BUILD_ARGUMENTS","value":"-Dmaven.test.skip=true package"}]},"params":[{"name":"annotations","value":{"autoscaling.knative.dev/max-scale":"10","autoscaling.knative.dev/min-scale":"2","autoscaling.knative.dev/target":"10"}}],"serviceClaims":[{"name":"broker","ref":{"apiVersion":"rabbitmq.com/v1beta1","kind":"RabbitmqCluster","name":"rabbit"}}],"source":{"git":{"ref":{"branch":"main"},"url":"https://github.com/Turbots/tanzu-demo.git"},"subPath":"confirmation-service"}}}'
        kapp.k14s.io/original-diff-md5: c6e94dc94aed3401b5d0f26ed6c0bff3
        services.conventions.carto.run/rabbitmq: amqp-client/5.16.0
      labels:
        app.kubernetes.io/component: run
        app.kubernetes.io/part-of: payment-demo
        apps.tanzu.vmware.com/has-tests: "true"
        apps.tanzu.vmware.com/pipeline: test
        apps.tanzu.vmware.com/workload-type: worker
        carto.run/workload-name: confirmation
        conventions.carto.run/framework: spring-boot
        kapp.k14s.io/app: "1675726456173415138"
        kapp.k14s.io/association: v1.52c33a047d9bd597743fbe75302d855f
        services.conventions.carto.run/rabbitmq: workload
    spec:
      containers:
      - env:
        - name: JAVA_TOOL_OPTIONS
          value: -Dserver.port="8080"
        image: harbor.vsphere.hubau.cloud/library/workloads/confirmation-team-tanzu@sha256:927a3039c512d1e53fadcd937b1c09743bfb91574cb01586e751cab4bb3d27b5
        name: workload
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        securityContext:
          runAsUser: 1000
      serviceAccountName: default

