apiVersion: apps/v1
kind: Deployment
metadata:
  name: zen
spec:
  replicas: 4
  selector:
    matchLabels:
      app: zen
  template:
    metadata:
      labels:
        app: zen
    spec:
      containers:
        - name: zen
          image: harbor.tanzu.be/library/zen:b14.20210607.123101
          imagePullPolicy: Always
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          livenessProbe:
            initialDelaySeconds: 20
            periodSeconds: 3
            httpGet:
              path: /actuator/health/liveness
              port: 8080
          readinessProbe:
            initialDelaySeconds: 20
            periodSeconds: 10
            httpGet:
              path: /actuator/health/readiness
              port: 8080
          resources:
            requests:
              memory: 768Mi
              cpu: 500m
            limits:
              memory: 768Mi
          ports:
            - containerPort: 8080
