apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: account
  annotations:
    ootb.apps.tanzu.vmware.com/servicebinding-workload: "true"
    ootb.apps.tanzu.vmware.com/apidescriptor-ref: "true"
  labels:
    app.kubernetes.io/part-of: payment-demo
    apps.tanzu.vmware.com/has-tests: "true"
    apps.tanzu.vmware.com/pipeline: test
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/component: run
    carto.run/workload-name: account
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/max-scale: "10"
        autoscaling.knative.dev/min-scale: "2"
        autoscaling.knative.dev/target: "10"
        boot.spring.io/actuator: http://:8081/actuator
        boot.spring.io/version: 3.0.0-RC1
        conventions.carto.run/applied-conventions: |-
          spring-boot-convention/spring-boot
          spring-boot-convention/spring-boot-graceful-shutdown
          spring-boot-convention/spring-boot-web
          spring-boot-convention/spring-boot-actuator
          spring-boot-convention/service-intent-postgres
          spring-boot-convention/service-intent-rabbitmq
          appliveview-sample/app-live-view-appflavour-check
          appliveview-sample/app-live-view-connector-boot
          appliveview-sample/app-live-view-appflavours-boot
          appliveview-sample/app-live-view-systemproperties
        developer.conventions/target-containers: workload
        services.conventions.apps.tanzu.vmware.com/postgres: postgresql/42.5.0
        services.conventions.apps.tanzu.vmware.com/rabbitmq: amqp-client/5.16.0
      labels:
        app.kubernetes.io/component: run
        app.kubernetes.io/part-of: payment-demo
        apps.tanzu.vmware.com/has-tests: "true"
        apps.tanzu.vmware.com/pipeline: test
        apps.tanzu.vmware.com/workload-type: web
        carto.run/workload-name: account
        conventions.apps.tanzu.vmware.com/framework: spring-boot
        services.conventions.apps.tanzu.vmware.com/postgres: workload
        services.conventions.apps.tanzu.vmware.com/rabbitmq: workload
        tanzu.app.live.view: "true"
        tanzu.app.live.view.application.actuator.port: "8081"
        tanzu.app.live.view.application.flavours: spring-boot
        tanzu.app.live.view.application.name: account
    spec:
      containers:
      - env:
        - name: PAYMENTS_HOST
          value: payment.team-tanzu
        - name: JAVA_TOOL_OPTIONS
          value: -Dmanagement.endpoint.health.show-details=always -Dmanagement.endpoints.web.base-path="/actuator" -Dmanagement.endpoints.web.exposure.include=* -Dmanagement.server.port="8081" -Dserver.port="8080" -Dserver.shutdown.grace-period="24s"
        image: harbor.vsphere.hubau.cloud/library/account-team-tanzu@sha256:3fee2cede1db76af38ba11e40dd8bfe835e7e1db681de3946b3e6c4cf0d8b746
        name: workload
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        securityContext:
          runAsUser: 1000
      serviceAccountName: default

