apiVersion: servicebinding.io/v1alpha3
kind: ServiceBinding
metadata:
  name: account-db
  annotations:
    autoscaling.knative.dev/max-scale: "10"
    autoscaling.knative.dev/min-scale: "2"
    autoscaling.knative.dev/target: "10"
  labels:
    app.kubernetes.io/part-of: payment-demo
    apps.tanzu.vmware.com/auto-configure-actuators: "true"
    apps.tanzu.vmware.com/has-tests: "true"
    apps.tanzu.vmware.com/pipeline: test
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/component: run
    carto.run/workload-name: account
spec:
  name: db
  service:
    apiVersion: sql.tanzu.vmware.com/v1
    kind: Postgres
    name: account-db
  workload:
    apiVersion: serving.knative.dev/v1
    kind: Service
    name: account
---
apiVersion: servicebinding.io/v1alpha3
kind: ServiceBinding
metadata:
  name: account-broker
  annotations:
    autoscaling.knative.dev/max-scale: "10"
    autoscaling.knative.dev/min-scale: "2"
    autoscaling.knative.dev/target: "10"
  labels:
    app.kubernetes.io/part-of: payment-demo
    apps.tanzu.vmware.com/auto-configure-actuators: "true"
    apps.tanzu.vmware.com/has-tests: "true"
    apps.tanzu.vmware.com/pipeline: test
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/component: run
    carto.run/workload-name: account
spec:
  name: broker
  service:
    apiVersion: rabbitmq.com/v1beta1
    kind: RabbitmqCluster
    name: rabbit
  workload:
    apiVersion: serving.knative.dev/v1
    kind: Service
    name: account

